body {
  background-image: url("https://i.pinimg.com/originals/8b/a1/d5/8ba1d546aab4e89a74b9b2309d6fb8d4.jpg");
}  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00cccc;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgrey;
}
