body {
  background-image: url("https://vignette.wikia.nocookie.net/p__/images/b/b0/Blue-energy.jpg/revision/latest/scale-to-width-down/640?cb=20140603164657&path-prefix=protagonist");
}  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0066ff;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightblue;
}
